@import "../core/settings";
@import "../core/animations";
@import "../core/loading";

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
 box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $white;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 18px;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  // font-family: 'Rubik', sans-serif;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $font;
}

input {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  outline: 0;
}

button {
  cursor: pointer;
  outline: 0;
}

.router-link {
  text-decoration: none;
  color: inherit;
}