@import "../../styles/layout/globals";
.welcome {
  display: flex;
  width: 100vw;
  height: 100vh;

  &-left {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .back-button {
      flex-direction: initial;
      align-items: center;
      svg {
        color: $pink;
        margin-right: 8px;
      }
      a {
        text-decoration: none;
        margin: 16px 0;
        color: $pink;
        font-size: 14px;
        font-weight: 700;
        outline: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    h1 {
      font-size: 54px;
    }

    img {
      margin: 30px 0;
    }

    form {
      margin-top: 30px;
      max-width: 250px;
      display: flex;
      flex-direction: column;
      div {
        display: flex;
        flex-direction: column;
        label {
          margin-bottom: 8px;
          font-size: 14px;
          font-weight: 500;
        }

        input {
          width: 250px;
          padding: 10px;
          border-radius: 6px;
          border: 1px solid #9f9f9f;

          &:focus {
            border: 1px solid $pink;
          }
        }

        & + div {
          margin-top: 16px;
        }
      }

      .forgot-password {
        font-size: 14px;
        text-align: end;
        text-decoration: none;
        margin: 16px 0;
        color: $pink;
        font-weight: 700;
        outline: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .login-error {
        margin-top: 20px;
        font-size: 16px;
        color: $error;
      }

      button {
        background: $black;
        color: #fff;
        height: 42px;
        border: 1px solid $black;
        border-radius: 6px;
        font-weight: 700;
        font-size: 16px;

        &:hover {
          opacity: 0.8;
          -webkit-transition: opacity .15s ease-in-out;
          -moz-transition: opacity .15s ease-in-out;
          -ms-transition: opacity .15s ease-in-out;
          -o-transition: opacity .15s ease-in-out;
          transition: opacity .15s ease-in-out;
        }
      }

      .login-button {
        margin-top: 30px;
      }

      .sign-up-button {
        margin-top: 30px;
      }

      .create-account {
        font-size: 14px;
        text-align: center;
        margin-top: 16px;

        a {
          text-decoration: none;
          color: $pink;
          font-weight: 700;
          outline: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .input-error {
        border: 1px solid $error;
      }

      .field-error {
        font-size: 14px;
        margin-top: 8px;
        color: $error;
      }
    }
  }
  
  &-right {
    background-color: $black;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;

    h2 {
      font-size: 3vw;
      margin: 26px 0;
    }

    p {
      max-width: 600px;
      text-align: center;
      font-size: 1.8vw;
    }
  }

  @media screen and (max-width: 992px) {
    &-left {
      width: 100vw;
    }

    &-right {
      display: none;
    }
  }
}